# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NODE_ENV="development"
NEXTAUTH_SECRET="NotReallySecureSecret"
DATABASE_URL="<Mongo DB URL here>"
ALCHEMY_API="<Alchemy API key here?"
OWNER_PRIV_KEY="<Owner Private Key, Must be same as the account which owns the smart contract"
NONCE_DOC_ID="Document ID of the Nonce doc in the Nonce collection"
DEPLOYED_CONTRACT_ADDRESS="<0x prefixed contract address>"
NEXT_PUBLIC_SIGNUP_MESSAGE="<Users will sign this message while signing up.>"
NEXT_PUBLIC_LOGIN_MESSAGE="<Users will sign this message while logging in with wallet>"
NEXT_PUBLIC_CONTRACT_ADDRESS="<Contract Address without the 0x prefix>"